body {
    /* font-family: sans-serif; */
    margin: 0px;
    padding: 0px;
    background: #196370;
    width: 100%;
}

.naving ul {
    width: 75%;
    list-style: none;
    text-align: right;
    background-color: #fff;
    padding: 16px 40px;
    margin: 0 !important;
    float: right;
}

.naving li {
    padding-top: 0px;
    padding-bottom: 0px !important;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #223988;
}

li .active {
    border-bottom: 3px solid #1d3485;
}

.List_btn {
    display: none;
}

.boxer {
    width: 110px;
    height: 110px;
}

.boxer p {
    font-size: 16px;
    padding-top: 10px;
}

.ciercals {
    width: 14px;
    height: 14px;
    background: #79d637;
    border-radius: 50%;
    display: inline-block;
    margin: 30px;
}

.borders {
    border-bottom: 3px solid rgb(10, 117, 6);
}

.iamge1Icon {
    width: 100%;
}

.box-wrapper {
    border-bottom: 4px solid #79d637;
    padding-bottom: 55px;
}

.naving {
    background-color: #fff;
}

.naving a {
    color: #1d3485;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 600;
    padding: 0 6px;
}

.menu-sperator {
    color: #223988;
    padding: 0 8px;
}

.logo {
    position: absolute;
    top: 16px;
    left: 40px;
    transition: top 0.3s ease-in-out;
    width: 20%;
}

.logo img {
    width: 100%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background: white;
    /* padding: 10px 30px; */
    transition: width 0.3s ease-in-out;
}

.navbar-shrink .logo {
    top: 4px;
}

.navbar-shrink .logo img {
    width: 60%;
    padding: 0;
}

.haders {
    width: 100%;
}

.last_nav {
    border: none !important;
}

.header_image {
    width: 100%;
    height: 100vh;
    background-color: #196370;
    background-size: cover;
    padding-top: 255px;
    background-repeat: no-repeat;
}

.header_image h1 {
    font-weight: bold;
    font-size: 16px;
    color: #e2e2e2;
}

.header_image .cetners {
    text-align: center;
}

.right {
    text-align: right;
}

.icon_header {
    background: #fff;
    padding: 8px;
    border-radius: 15px;
    font-size: 76px;
    color: #1f756f
}

.header_image p {
    font-size: 20px;
    color: #e2e2e2;
}

.col-sm-3 {
    flex: 0 0 auto;
    width: 19% !important;
}

.row-top {
    margin-top: 60px !important;
    margin-right: 0px !important;
}

.sooon {
    text-align: center;
    margin-top: 180px;
    color: #fff;
}

.sooon a {
    color: #00265e;
    text-decoration: underline;
}

.foorers {
    padding: 30px 0;
    margin: 0px !important;
    background: #73ad4a;
    text-align: center;
    border-radius: 0px;
    filter: drop-shadow(2px 4px 6px rgba(63, 63, 63, 0.226));
}

.foorers h6 {
    color: #fff;
}

.foorers p {
    color: #fff;
    margin: 0px !important;
    font-size: 14px;
}

.foorers a {
    font-size: 34px;
    color: #fff;
    text-decoration: none;
}

footer {
    margin: 0px;
    padding: 0px;
    background: #1d6272;
    text-align: right;
}

.foorers .footer-logo {
    width: 50%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 37px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

/* Contato page custom style */

.contact-wrapper {
    margin-top: 180px;
}

.address-wrapper-outer {
    background-color: #fff;
    padding: 10px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    height: 100%;
}

.address-wrapper-outer .address-wrapper-inner {
    padding: 40px 20px;
    border: 1px solid #176370;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    height: 100%;
}

.address-wrapper-outer .address-wrapper-inner h4 {
    margin: 0;
    font-size: 18px;
    color: #176370;
    font-weight: 700;
}

.address-wrapper-outer .address-wrapper-inner h5 {
    margin: 0;
    font-size: 16px;
    color: #176370;
    font-weight: 700;
}

.address-wrapper-outer .address-wrapper-inner h6 {
    margin: 0;
    font-size: 16px;
    color: #176370;
    font-weight: 700;
}

.address-wrapper-outer .address-wrapper-inner p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #176370;
}

.map-wrapper-outer {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    height: 100%;
    min-height: 350px;
}

.map-wrapper-outer .map-wrapper-inner {
    border: 1px solid #176370;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    height: 100%;
    overflow: hidden;
}

.services-wrapper, .dicas-wrapper, .faq-wrapper {
    margin-top: 150px;
}

/* Dicas Page styles */

.dicas-box-wrapper {
    height: 100%;
    padding: 30px;
    border-right: 2px solid #16830f;
    margin-top: 67px;
    background: #12535e;
    color: rgb(233, 223, 223);
    /* filter: drop-shadow(2px 4px 6px black); */
    margin: 16px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    box-shadow: 14px 9px 38px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 14px 9px 38px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 14px 9px 38px -10px rgba(0, 0, 0, 0.51);
}

.thumb-image-outer {
    float: left;
    background: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 8px;
}

.thumb-image-outer .thumb-image {
    width: 100%;
}

.dicas-box-wrapper .title {
    font-size: 18px;
    font-weight: 600;
}

.dicas-box-wrapper .text-decoration {
    background-color: #c1c1c1e3;
    padding: 7px 2px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 17%;
}


@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .header_image {
        padding-top: 190px !important;
    }
    .logo {
        width: 14% !important;
    }
    .header_image h1 {
        font-size: 14px !important;
    }
    .header_image p {
        font-size: 17px !important;
    }
    .boxer {
        width: 90px;
        height: 90px;
    }
    .services-wrapper, .dicas-wrapper, .faq-wrapper {
        margin-top: 100px;
    }
    .background_image {
        width: 45rem !important;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .logo {
        width: 10% !important;
    }
}

@media (max-width: 1199.98px) {
    .menu-sperator {
        display: none !important;
    }
    .ciercals1 {
        text-align: center !important;
        margin-top: 20px;
    }
    .ciercals2 {
        text-align: center !important;
        margin-top: 20px;
    }
    .clearfix li {
        width: 40% !important;
    }
    .hide_slid {
        display: block !important;
    }
    /* .row {
        margin: 0px !important;
    } */
    .naving ul {
        display: none;
        width: 100%;
    }
    .naving li {
        display: block;
        text-align: center;
        border: none;
    }
    .logo {
        background-color: #fff !important;
        top: 12px !important;
        height: fit-content !important;
        position: absolute !important;
        border-radius: 6px !important;
        padding: 0 !important;
    }
    .logo img {
        width: 100% !important;
        padding: 2px !important;
        border-radius: 6px !important;
    }
    .List_btn {
        display: block;
        width: 100%;
        color: rgb(24 100 113);
        text-align: right;
        background: #fff;
        padding: 20px 0;
    }
    .right {
        text-align: center !important;
    }
    .iconlist {
        font-size: 32px;
        margin: 10px;
    }
}

@media (max-width: 991.98px) {
    .boxer {
        width: 110px;
        height: 160px;
    }
    .background_image {
        width: 0rem !important;
        position: absolute;
        right: 1px;
        bottom: 1px;
        overflow: hidden !important;
    }
    .header_image {
        height: 100% !important;
        padding-top: 120px !important;
        padding-bottom: 20px;
        background-size: cover;
    }
    .ciercals1 {
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
    .ciercals2 {
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
    .ciercals {
        margin: 6px !important;
    }
    .boxer p {
        margin: 0 !important;
    }
    .mbl-margin {
        margin-bottom: 20px !important;
    }
    .foorers .footer-logo {
        width: 35% !important;
    }
    .box-wrapper {
        border-bottom: none;
        padding-bottom: 10px;
    }
    .boxer_image_singale img {
        width: 60% !important;
    }
    .services-wrapper, .dicas-wrapper, .faq-wrapper {
        margin-top: 90px;
    }
}

@media (max-width: 767.98px) {
    .boxer {
        width: 110px;
        height: 160px;
    }
    .background_image {
        width: 0rem !important;
        position: absolute;
        right: 1px;
        bottom: 1px;
        overflow: hidden;
    }
    .header_image {
        height: 100%;
        padding-top: 90px;
        padding-bottom: 20px;
        background-size: cover;
    }
    .logo {
        width: 40% !important;
        left: 0 !important;
    }
    .header_image {
        padding-left: 30px;
        padding-right: 30px;
    }
    .cell-number-footer{
        font-size: 34px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 560px) {
    body {
        -webkit-text-size-adjust: none;
        background: #196370;
    }
}

.background_image {
    width: 55rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.whatsappicon {
    background-image: url("../imagens/whatsapp-logo-1.png");
}